%h2== Talks for #{casual_day_description(day)}

%table.talks
  %thead
    %tr
      %th Name
      %th From
      %th To
      %th Venue
      %th Speaker
  %tbody
    - talks.each_with_index do |talk, index|
      - row_class = index.even? ? 'even' : 'odd'
      %tr{:class => row_class}
        %td= talk.name
        %td= talk.start_at
        %td= talk.end_at
        %td= talk.venue.name
        %td= talk.user.name
