%h2== Talks for #{casual_day_description(@day)}
%h3 Change Day
- @days_with_talks.each do |day|
  = day == @day ? day.strftime("%A") : link_to(day.strftime("%A"), talks_path(:day => day))
%table.talks
  %thead
    %tr
      %th Time
      -  @venues.each do |venue|
        %th= venue.name
  %tbody
    - Camp.current.talk_hours.each_with_index do |hour, index|
      - time = @day + hour.hours
      %tr{:class => index.even? ? 'even' : 'odd'}
        %td
          = time.strftime "%H:%M"
          - @venues.each do |venue|
            - talk = @talks_by_time_and_venue_for_day[time] && @talks_by_time_and_venue_for_day[time][venue]
            %td{:class => talk ? 'filled' : 'available'}
              - if talk
                = link_to talk_description(talk), talk_path(talk)
              - else
                = link_to "Add Talk", new_talk_path(:start_at => time, :venue_id => venue.id)
