%h2 Edit my details

- simple_form_for @user, :url => user_path(@user) do |f|
  = f.input :first_name
  = f.input :last_name
  = f.input :email
  = f.input :twitter
  = f.input :bio
  %p.submits
    = link_to 'Cancel', @user, :class => 'cancel'
    or
    = f.button :submit, :label => 'Save changes'

