- content_for :header do
  = javascript_include_tag 'vendor/jquery.dataTables-1.7.6.min'
  :javascript
    $(function(){
      $('table.users').dataTable({
        bJQueryUI: true,
        bPaginate: false,
        bLengthChange: false,
        bFilter: true,
        bSort: false,
        bAutoWidth: false
      });
    });

%h1 All the campers

%table.users
  %thead
    %tr
      %th Name
      %th Bonjour
      %th Twitter
      %th IRC
      %th Bio
      %th Skills
      %th Interests
      %th 
  %tbody
    - @users.each_with_index do |user, index|
      - row_class = index.even? ? 'even' : 'odd'
      %tr{:class => row_class}
        %td= user.full_name
        %td= user.bonjour
        %td= user.twitter
        %td= user.irc
        %td= user.bio
        %td= user.skill_list.join(', ')
        %td= user.interest_list.join(', ')
        %td= link_to('View', user_path(user))

