%h1= @user.full_name
  
%img.profile_pic{:src => get_gravatar(@user, 200)}

%p= link_to("edit my profile", edit_user_path(@user)) if current_user == @user

%p Email: #{@user.email}


%p Twitter username: #{@user.twitter}

%p Bonjour nick: #{@user.bonjour}

%p IRC nick: #{@user.irc}

%p= @user.try(:bio)

%p Skills: #{@user.skill_list.join(', ')}

%p Interests: #{@user.interest_list.join(', ')}

- if @user.projects.any?
  %h2 My projects
  %ol
    - for project in @user.projects
      %li
        %h3= link_to project.name, project_path(project)
        %p= truncate(project.try(:description))
      
