%li[project]
  %h3= link_to project.name, user_project_path(project.owner, project)
  - # TODO: hide this when /users/:user_id
  %p
    by
    = link_to project.owner.full_name, user_path(project.owner)
  %p= truncate(project.try(:description))
  - if project.owner == current_user
    %p
      = link_to 'Edit', edit_user_project_path(project.owner, project)
      = link_to 'Delete', user_project_path(project.owner, project), :confirm => 'Are you sure you want to delete this project?', :method => :delete
