!!!
%html
  %head
    %meta{:charset => "utf-8"}
    
    %title Railscamp Ideagora
    -#= stylesheet_link_tag 'ideagora'
    = javascript_include_tag 'vendor/jquery.min'
    = csrf_meta_tag
    
    = yield :header
    
  %body{:id => @body_id || controller.controller_name, :class => controller.action_name }
    #wrapper
      %header#header
        #user_nav
          %p
            - if current_user
              Logged in as #{current_user.email}
              = link_to "Log out", log_out_path
            - else
              = link_to "Sign in", sign_in_path
      #content
        = flash_helper.html_safe
        = yield
