!!!
%html
  %head
    %meta{:charset => "utf-8"}
    
    %title Railscamp Ideagora

    = stylesheet_link_tag 'master'
    = stylesheet_link_tag 'vendor/jquery-ui-smoothness/jquery-ui-1.8.13.custom.css', :media => 'screen, projection, print'

    = javascript_include_tag 'vendor/jquery-1.6.1.min'
    = javascript_include_tag 'vendor/jquery-ui-1.8.13.custom.min'
    = javascript_include_tag 'vendor/underscore-1.1.6.min'
    = javascript_include_tag 'vendor/rails'

    = csrf_meta_tag
    
    = yield :header
    
  %body{:id => @body_id || controller.controller_name, :class => controller.action_name }
    #wrapper
      %header#header
        #user_nav
          %p
            - if current_user
              Logged in as #{current_user.email}
              = link_to "Log out", log_out_path
            - else
              = link_to "Sign in", sign_in_path
        %h1 Railscamp 9
      %nav#main_nav
        %ul
          %li= link_to 'Welcome', root_path
          %li= link_to 'Campers', users_path
          %li= link_to 'Projects', projects_path
          %li= link_to 'Talks', talks_path
      #content
        = flash_helper.html_safe
        = yield
